@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.footer {
  background-color: #464ab3;
  color: #fff;
  font-size: larger;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.footer h1,
.footer a {
  padding: 15px;
  border-radius: 15px;
}

.footer a:hover {
  background-color: #6469ff;
}

@media (min-width: 100px) and (max-width: 990px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    width: max-content;
  }

  .footer a,
  .footer h1 {
    padding: 7.5px;
  }
}
